name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - github-pages-deployment/index.html
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up GitHub Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: github-pages-deployment

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
